<% provide(:title, "Learning Resources") %>

<!-- MAIN PAGE CONTENT -->
<h1 class="page-header">Learning Resources</h1>

<div class="learning_resources">
  <table class="table table-condensed table-bordered table-hover">
    <thead>
      <tr>
        <th><%= sortable "title" %></th>
        <th><%= sortable "learning_resource_type_id", "Type" %></th>
        <th><%= sortable "created_at", "Submitted" %></th>
        <th><%= sortable "user_id", "Created by" %></th>
        <th><%= sortable "votable_id", "Upvotes" %></th>
        <th><%= link_to "Downvotes", :sort => "" %></th>
      </tr>
    </thead>
    <tbody>
      <% @learning_resources.each do |lr| %>
        <tr>
          <td><%= link_to lr.title, lr %></td>
          <td><%= lr.learning_resource_type.name %></td>
          <td><%= time_ago_in_words(lr.created_at) + " ago" %></td>
          <td><%= lr.user.profile_name %></td>
          <td>
            <%= link_to like_learning_resource_path(lr), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span>
              Upvote
              <%= lr.get_upvotes.size %>
            <% end %>
          </td>
          <td>
            <%= link_to dislike_learning_resource_path(lr), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-down"></span>
              Downvote
              <%= lr.get_downvotes.size %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<!-- SIDEBAR CONTENT -->
<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "New Learning Resource", new_learning_resource_path %></li>
  </ul>
  <h6><%= link_to "Learning Resource Settings", learning_resource_types_path %></h6>
<% end %>
