<% provide(:title, "Learning Resources") %>
<% provide(:button_text, 'Create') %>

<!-- MAIN PAGE CONTENT -->
<h1 class="page-header">Learning Resources</h1>
<% if @learning_resources.any? %>
  <div class="learning_resources">
    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th><%= sortable "title" %><%= sortable_class "title" %></th>
          <th><%= sortable "learning_resource_type_id", "Type" %><%= sortable_class "learning_resource_type_id" %></th>
          <th><%= sortable "created_at", "Submitted" %><%= sortable_class "created_at" %></th>
          <th><%= sortable "user_id", "Created by" %><%= sortable_class "user_id" %></th>
          <th><%= sortable "cached_votes_up", "Upvotes" %><%= sortable_class "cached_votes_up" %></th>
          <th><%= sortable "cached_votes_down", "Downvotes" %><%= sortable_class "cached_votes_down" %></th>
        </tr>
      </thead>
      <tbody id="container_learning_resources">
        <%= render @learning_resources %>
      </tbody>
    </table>
  </div>
<% end %>


<!-- MODAL CREATE ACTION FOR NEW LEARNING RESOURCE -->
<%= form_for(@learning_resource, remote: true) do |f| %>
  <div class="modal fade" id="mynewlearningresource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Learning Resource</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control learning_resource_title' %>
          </div>

          <div class="form-group">
            <%= f.label :link %>
            <%= f.text_field :link, class: 'form-control learning_resource_link' %>
          </div>

          <div class="form-group">
            <%= f.label :learning_resource_type, "Learning Resource Type" %>
            <%= f.collection_select :learning_resource_type_id, LearningResourceType.all, :id, :name, {}, {:class=>'form-control learning_resource_type'} %>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewlearningresourceclose">Close</button>
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<!-- SIDEBAR CONTENT -->
<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "New Learning Resource", new_learning_resource_path, {"data-toggle" => "modal", "data-target" => "#mynewlearningresource"} %></li>
  </ul>
  <h6><%= link_to "Learning Resource Settings", learning_resource_types_path %></h6>
<% end %>
