<%= form_for(@user, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :profile_name %>
        <%= f.text_field :profile_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :picture, "Upload an image." %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </div>

      <div class="form-group">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    </div>

    <% if current_user && logged_in? %>
      <div class="panel-footer">
        <h3>Cancel my account</h3>
        <p>Unhappy? <%= button_to "Cancel my account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>
      </div>
    <% end %>
  </div>

<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
