<%= form_for(learning_resource_comment) do |f| %>
  <% if learning_resource_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(learning_resource_comment.errors.count, "error") %> prohibited this learning_resource_comment from being saved:</h2>

      <ul>
      <% learning_resource_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :learning_resource_id %>
    <%= f.number_field :learning_resource_id %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
