<h1 class="page-header">SI Integraions</h1>
<%= link_to "Create New Integration", new_integration_path, class: "btn btn-default" %>

<% @integrations.each do |i| %>
  <div class="row">
    <div class="col-md-3 app-single">
      <%= link_to integration_path(i) do %>
        <%= image_tag i.picture.url if i.picture? %>
        <p><%= i.id %>. <%= i.name %> | Built By <%= i.built_by %></p>
      <% end %>
    </div>
  </div>
<% end %>
