<h1><%= @integration.name %></h1>
<h3><%= @integration.integration_type.name %></h3>
<p><%= @integration.built_by %></p>
<h5>Description:</h5>
<p><%= @integration.description %><p>
<p>Status: <%= @integration.status %></p>
<h5>Summary:</h5>
<p><%= @integration.summary %></p>
