<h1><%= @integration.name %> <span><%= link_to "Edit", edit_integration_path(@integration), class: "btn btn-default" %></span></h1>
<%= image_tag @integration.picture %>
<h3><%= @integration.integration_type.name %></h3>
<p>Built by: <%= @integration.built_by %></p>
<h5>Description:</h5>
<p><%= @integration.description %><p>
<p>Status: <%= @integration.status %></p>
<h5>Summary:</h5>
<p><%= @integration.summary %></p>

<% if current_user.admin? && !current_user?(@user) %>
  <%= link_to "Delete", @integration, method: :delete, data: { confirm: "Do you really want to delete this integration?" } %>
<% end %>
